.container_event_info
    width: 1054px
    margin: auto
.event_img
    max-height: 512px
    width: 100%
.event_main_info
    border: 1px solid #dce3e7
    padding: 20px
    margin-bottom: 30px
.event_main_title
    font-size: 40px
    font-weight: 700
    line-height: 1.4
    color: #4a5570
.container_date_location
    display: flex
    justify-content: space-between
.item_date_location
    display: flex
    flex-direction: column
    width: 40%
.item_date, .item_event_by
    font-size: 24px
    color: #4a5570
    font-weight: 700
.item_tag, .item_location
    font-size: 22px
    color: #94a1a8
    margin-top: 20px
.social_icons
    display: flex
    flex-direction: column
    width: 15%
.social_icon
    width: 30px
    margin-top: 10px
.container_disc_price
    display: flex
    justify-content: space-between
.event_description
    width: 60%
.buy_box
    width: 37%
    height: fit-content
    background: #EEF1F3
    border: 1px solid #dce3e7
    padding: 20px
.buy_box_ticket
    font-size: 20px
    font-weight: 700
    color: #4a5570
